doctype html
html
  head
    title TTÜ Lunch Menu
    link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous"
    link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"
    link rel="stylesheet" href="ttulunch.css"
    script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"
    script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"
    script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"
    meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"
  
  body data-spy="scroll" data-target="#navbar" data-offset="0"
    nav#navbar.navbar.navbar-expand.sticky-top.navbar-dark.bg-primary
        .container
          button.navbar-toggler type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"
            span.navbar-toggler-icon
          #navbarNav.collapse.navbar-collapse 
            ul.navbar-nav
              - cafeterias.each do |cafeteria, data|
                li.nav-item
                  a.nav-link href="#cf_#{cafeteria}" = data[:name]
                 
    .container
      h1 TTÜ Lunch Menu <span class="small">#{date.getlocal("+03:00").strftime("%a, %Y-%m-%d %H:%M")}</span>
      
      #menu.row
        - cafeterias.each do |cafeteria, data|
          .cafeteria.col-md-6 id="cf_#{cafeteria}"
            h2.name
              i.fa.fa-cutlery
              '
              = data[:name]
              span.small
                a href="#{data[:source]}" Source
            ul.items
              - for item in data[:items]
                li.item
                  .price.badge.badge-light = item[:price].to_s + " €"
                  .english = item[:english]
                  .estonian = item[:estonian]
      .small
        a href="https://gitlab.com/shul/ttulunch" Source
