.english {
  display: inline;
}
.estonian {
  font-size: 75%;
  font-style: italic;
  display: inline;
  margin-left: 1em;
  color: #777;
}
h2.name .small {
  font-size: 50%;
  padding-left: 1em;
}
.price {
  float: right;
  padding-left: 0.5em;
}
body {
  position: relative;
}
/* for jumping to anchors and skipping navbar */
.cafeteria { 
  margin-top: -70px;
  padding-top: 70px;
}
